*{
	padding: 0px;
	margin: 0px;
}
/* Banner */
	#banner {
		padding: 6em 0 13em 0;
		background-attachment: fixed;
		background-image: url("images/overlay.png"), url("../../images/banner.png");
		background-position: center top;
		background-size: cover;
		line-height: 1.75;
		text-align: center;
	}


		#banner h2 {
			color: #FFDAB9;
			display: inline-block;
			font-size: 3.5em;
			line-height: 1.35;
			margin-bottom: 0.5em;
		}
		#banner h3 {
			color: #FFDAB9;
			display: inline-block;
			font-size: 5.5em;
			line-height: 1.35;
			margin-bottom: 0.5em;
		}

/* Button */

	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: #323037;
		border-radius: 4px;
		color: #ffffff !important;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-weight: 700;
		height: 3.15em;
		line-height: 3.25em;
		padding: 0 2.2em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}



		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		button.big,
		.button.big {
			font-size: 1.35em;
		}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		button.special,
		.button.special {
			background-color: #f32853;
			color: #ffffff !important;
		}



		/* Basic */
		body.landing {
			padding-top: 0 !important;
		}
		#regsuccess{
			font-family: American Typewriter, serif;
		}

